.nav {
  height: 50px;
  background-color: antiquewhite;
  margin-top: 0;
  padding-top: 10px;
  display: flex;
  justify-content: space-between;
}

.span1 ul {
  display: flex;
  justify-content: left;
  list-style: none;
  margin: 0;
}

.span2 ul {
  display: flex;
  justify-content: right;
  list-style: none;
  margin: 0;
  margin-right: 50px;
  margin-top: 10px;
  color: white;
}

.notifDD {
  width: 300px;
  height: 100px;
  background-color: black;
  opacity: 0.7;
  color: white;
  position: absolute;
  right: 20px;
  display: flex;
  padding: 10px;
}

.notifDD img {
  height: 60px;
  margin-top: 10px;
}

.notifDD p {
  margin: 2px;
}

.notifDD span {
  margin: 5px;
}

.daysAgo {
  font-size: smaller;
}

.logoimg {
  max-height: 50px;
  margin-right: 50px;
  margin-left: 50px;
}

.avatarimg {
}

.span2 input {
  padding: 5px;
  border-radius: 1px;
  border: 1px solid white;
}

.nav li {
  margin-right: 20px;

  cursor: pointer;
}

.menuItems {
  margin-top: 10px;
  font-weight: 500;
}

.menuItems:hover {
  color: gray;
}

.avatarDD {
  width: 200px;
  height: 500px;
  background-color: aqua;
  position: absolute;
  right: 50px;
  cursor: pointer;
}

.names span {
  margin-left: 10px;

  margin-top: 10px;
}
.names:hover {
  text-decoration: underline;
}
.icons {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20px;
  width: 30px;
}
.accIcon {
  font-size: 30px;
}

.signout {
  margin: 15px;
}
.signout:hover {
  margin: 15px;
  text-decoration: underline;
}
