.middlebox {
  width: 250px;
  margin-top: 10%;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.lockpic {
  width: 50px;
}

.btnbox {
  border: 0;
  width: auto;

  margin: auto;
  display: block;
  cursor: pointer;
}
.btnpic {
  width: 100%;
}
